
body {
    color: black;
}

h2 {
    font-style: italic;
    margin-left: 20px;
    border-bottom: double;
}

div.border {
    border-right: solid;
}

nav.button {
    display: block;
    width: 60px;
}
