
body {
    color: black;
    background-color: #C2B280;
}

h2 {
    font-style: italic;
    margin-left: 30px;
    border-bottom: double;
}

nav.button {
    display: block;
    width: 60px;
    border-right: solid;
    padding-right: 35px; 
    text-align: left;
    height: 650px;
    
}

button.Home {padding: 10px 20px;}

button.Poems {padding: 10px 20px;}

button.Authors {padding: 10px 20px;}

button.Music {padding: 10px 20px;}
